@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins";

@import "node_modules/bootstrap/scss/variables";

@import "node_modules/bootstrap/scss/bootstrap";

// Standard colors

$primary-colour: #3f5f58;
$secondary-colour: #6e9089;
$main-font-colour: #414141;

.main-green-colour {
  background-color: $primary-colour;
}

.secondary-green-colour {
  background-color: $secondary-colour;
}

.main-font-colour {
  color: #414141;
}

// Root styling

* {
  font-family: "Montserrat", sans-serif;
  color: $main-font-colour;
}

.green-font-color {
  color: $primary-colour;
}

.nav-side-item {
  width: 108px;
}

.bread-crumbs a {
  color: #414141;
  text-decoration: none;
  font-weight: 500;
}

// Custom fonts

$custom-fs-0-5rem: 0.5rem;
$custom-fs-0-625rem: 0.625rem;
$custom-fs-0-75rem: 0.75rem;
$custom-fs-0-938rem: 0.938rem;
$custom-fs-0-875rem: 0.875rem;
$custom-fs-1-125rem: 1.125rem;
$custom-fs-1-25rem: 1.25rem;
$custom-fs-1-5rem: 1.5rem;
$custom-fs-1-563rem: 1.563rem;
$custom-fs-1-625rem: 1.625rem;
$custom-fs-2rem: 2rem;
$custom-fs-2-125rem: 2.125rem;
$custom-fs-2-375rem: 2.375rem;
$custom-fs-3-625rem: 3.625rem;
$custom-fs-4-rem: 4rem;

// Font sizes

.fs-0-5rem {
  font-size: $custom-fs-0-5rem;
}

.fs-0-75rem {
  font-size: $custom-fs-0-75rem;
}

.fs-0-875 {
  font-size: $custom-fs-0-875rem;
}

.fs-0-948rem {
  font-size: $custom-fs-0-938rem;
}

// Responsive font classes

.fs-0-625rem-to-0-75-rem {
  font-size: $custom-fs-0-625rem;

  @include media-breakpoint-up("lg") {
    font-size: $custom-fs-0-75rem;
  }
}

.fs-0-75rem-to-1-rem {
  font-size: $custom-fs-0-75rem;

  @include media-breakpoint-up("lg") {
    font-size: 1rem;
  }
}

.fs-0-875-to-1-25-rem {
  font-size: $custom-fs-0-875rem;

  @include media-breakpoint-up("lg") {
    font-size: $custom-fs-1-25rem;
  }
}

.fs-1-to-1-125 {
  font-size: 1rem;

  @include media-breakpoint-up("lg") {
    font-size: $custom-fs-1-125rem;
  }
}

.fs-1-to-1-563 {
  font-size: 1rem;

  @include media-breakpoint-up("lg") {
    font-size: $custom-fs-1-563rem;
  }
}

.fs-1-25-to-2rem {
  font-size: $custom-fs-1-25rem;

  @include media-breakpoint-up("lg") {
    font-size: $custom-fs-2rem;
  }
}

.fs-1-5-rem-to-2-rem {
  font-size: $custom-fs-1-5rem;

  @include media-breakpoint-up("lg") {
    font-size: $custom-fs-2rem;
  }
}

.fs-1-625-to-2-375 {
  font-size: $custom-fs-1-625rem;

  @include media-breakpoint-up("lg") {
    font-size: $custom-fs-2-375rem;
  }
}

.fs-2-375-to-3 {
  font-size: $custom-fs-2-375rem;

  @include media-breakpoint-up("lg") {
    font-size: 3rem;
  }
}

.fs-2-125-to-fs-3-625 {
  font-size: $custom-fs-2-125rem;

  @include media-breakpoint-up("lg") {
    font-size: $custom-fs-3-625rem;
  }
}

.fs2-to-4 {
  font-size: $custom-fs-2rem;

  @include media-breakpoint-up("lg") {
    font-size: $custom-fs-4-rem;
  }
}

// Buttons

.green-button {
  background: $primary-colour;
  color: white;
  border: none;
  border-radius: 50px;
  padding: 3px 50px;
}

.green-button:hover {
  background: $secondary-colour;
}

.product-page-button-container button {
  padding-top: 10px;
  padding-bottom: 10px;
}

// Text

.link-text,
.header-text {
  font-weight: 500;
  cursor: pointer;
}

.link-text:hover {
  font-weight: 600;
}

.card-link {
  text-decoration: none;
}

.product-card {
  border: none;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

// Search form

.search-form-input {
  border-radius: 50px;
  border: none;
  height: 40px;
  color: white;
  text-indent: 10px;
}

.search-form-input::placeholder {
  color: white;
  font-weight: 300;
  text-indent: 10px;
}

.search-form:focus {
  border: none;
}

.Search-icon {
  height: 27px;
}

.count-circle {
  border-radius: 50%;
  padding: 10px;
  width: 15px;
  height: 15px;
  font-size: 0.875rem;
}

// Search Overlay

.search-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 92px;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: dropDown 0.3s ease-out forwards;
  box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}
.search-overlay-content {
  padding: 20px;
  border-radius: 8px;
  width: 100%;
}

.back-icon,
.search-icon {
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
}

.input-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
}

.overlay-search-input {
  margin: 0 10px;
  padding: 10px 40px;
  font-size: 18px;
  height: 44px;
  border: none;
  border-radius: 50px;
  font-size: 0.7rem;
  width: 100%;
  text-indent: 10px;
}

.overlay-search-input::placeholder {
  color: white;
}

.back-icon,
.search-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
}

.back-icon {
  left: 20px;
}

.search-icon {
  right: 20px;
}

// Product page

.cart-button-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  right: 20px;
  padding-top: 16px;
}

@keyframes dropDown {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}

// Shopping cart

.cart-bottom-border {
  border-bottom: 1px solid #3f5f58;
}

.cart-top-border {
  border-top: 1px solid #3f5f58;
}

.cart-img {
  max-width: 75px;
}

// Reviews

.review-container {
  max-width: 600px;
}

// Loader

.loader {
  color: $primary-colour;
  font-size: 45px;
  text-indent: -9999em;
  overflow: hidden;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  position: relative;
  transform: translateZ(0);
  animation: mltShdSpin 1.7s infinite ease, round 1.7s infinite ease;
}

@keyframes mltShdSpin {
  0% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  5%,
  95% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  10%,
  59% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
  }
  20% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em, -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, -0.749em -0.34em 0 -0.477em;
  }
  38% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em, -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, -0.82em -0.09em 0 -0.477em;
  }
  100% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
}

@keyframes round {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

// Card

// Footer

// .footer {
//   position: absolute;
//   bottom: 0;
//   width: 100%;
// }

// Utility classes

.mw-300px {
  max-width: 300px;
}

// Media queries

@media screen and (max-width: 767px) {
  .product-text-box,
  .product-page-button-container {
    max-width: 350px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 768px) {
  .search-overlay {
    height: 100px;
  }

  .product-info-column {
    text-align: left;
    display: flex;
    flex-direction: column;
  }
}

@media screen and (min-width: 992px) {
  .count-circle {
    width: 30px;
    height: 30px;
    font-size: 1rem;
  }
  .search-overlay {
    display: none;
  }
}
